.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Python Build Files
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#Local DB file, because size is too big
hadith.db
